.slider {
    display: flex;
    /* margin-right: 10px;
    margin-bottom: 15px;

    overflow-y: hidden;
    overflow-x: scroll;
    position: relative; */
}

.slider::-webkit-scrollbar {
    display: none;
}

.row-img {
    /* width: 100%; */
    object-fit: contain;
    max-height: 100px;
    margin: 0 8px;
    cursor: pointer;
}

.gallery p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 30px 25px;

}

/* TOOLTIP-VIDEO */

.image-video-main {
    position: relative;

}

.tooltip-video {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 1;
    /* opacity: 0; */
    visibility: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

}

.image-video-main:hover .tooltip-video {
    /* opacity: 1; */
    visibility: visible;
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.first-row button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: none;
    margin-right: 10px;
    border: 1px solid white;
}

.first-row .play {
    background-color: white;
}

.icon-tooltip-video {
    font-size: 35px;
    color: black;
}

.icon-tooltip-video .plus,
.icon-tooltip-video .like,
.icon-tooltip-video .arrow {
    color: white;

}

.second-row {
    display: flex;
    align-items: center;

}

/* margin time */
.first-row,
.second-row,
.third-row {
    margin-left: 10px;
}

.second-row * {
    margin-right: 10px;
}

.match {
    color: rgb(0, 186, 0);
    font-size: 16px;
}


.seasons {
    color: white;
}

.age {
    background-color: orangered;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    padding: 3px 3px 0 3px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.qlty {
    background-color: none;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

.third-row {
    display: flex;
    align-items: center;
}

.third-row h4 {
    color: white;

}

/* !!!!!!!!!!CHECK!!!!!!! */
.slide-show-button {
    background-color: rgba(251, 121, 121, 0.5);
    position: sticky;
    left: 0;
    width: 80%;
    border: none;
    cursor: pointer;
}

.slide-show-button-end {
    background-color: rgba(255, 37, 37, 0.5);
    position: sticky;
    right: 0;
    width: 80px;
    border: none;
    cursor: pointer;
    margin: 0;
}

/* !!!!!!!!!!CHECK!!!!!!! */