header {
    display: flex;
    background-color: #000000;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

}

.left-section {
    /* background-color: rgb(80, 72, 72); */
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.menu-section p {
    padding: 0 14px;
    font-weight: 500;
    font-size: 14px;
}

.menu-section p:hover {
    opacity: 0.9;
}

.logo-netflix {
    width: 100px;
    padding: 0 25px;
}

.middle-section {
    display: flex;
    /* background-color: rgb(56, 56, 56); */
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 25px;
    flex: 1;
}

select {
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
    color: white;
    background: none;
    border: none;
    padding-right: 20px;
    cursor: pointer;
    /* max-width: 90px;
    min-width: 90px;;
    width: 250px !important; */
    display: none;
    width: 90px;
    font-size: 14px
}

.icon-select {
    color: white;
}

option {
    background-color: #000000;
    width: 600px;
    height: 500px;

}

.icon-header {
    font-size: 30px;
    color: white;
    margin-left: 25px
}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 106, 235);
    margin-left: 25px;
    border-radius: 5px;
}

@media screen and (max-width:900px) {
    .menu-section {
        display: none;
    }

    select {
        display: inline-block;
    }


}