p {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-image: linear-gradient(360deg, transparent, rgba(18, 18, 18, 0.8), #000000);
    ;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.header_black {
    background-color: #000000;
}

.left-section {
    /* background-color: rgb(80, 72, 72); */
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: opacity 1s;

}

.menu-section p {
    padding: 0 14px;
    font-weight: 500;
    font-size: 14px;
}

.menu-section p:hover {
    opacity: 0.5;
}

.logo-netflix {
    width: 100px;
    padding: 0 25px;
}

.middle-section {
    display: flex;
    /* background-color: rgb(56, 56, 56); */
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 25px;
    flex: 1;
}

select {
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
    color: white;
    background: none;
    border: none;
    padding-right: 20px;
    cursor: pointer;
    /* max-width: 90px;
    min-width: 90px;;
    width: 250px !important; */
    display: none;
    width: 90px;
    font-size: 14px
}

.icon-select {
    color: white;
}

option {
    background-color: #000000;
    width: 600px;
    height: 500px;

}

.icon-header {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 25px;

}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 106, 235);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

/* TOOLTIP FOR USER */

.user-tooltip {
    background-color: rgba(0, 0, 0, 0.9);

    position: absolute;
    top: 40px;
    right: 0px;

    width: max-content;
    padding: 10px 0;
    width: 220px;

    color: white;
    font-weight: 100;
    font-size: 12px;

    display: none;
    transition: display 2s;


}

.user-tooltip div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-icon .cr {
    background-color: rgb(231, 220, 62);
    margin-right: 15px;
    margin-left: 15px;
}

.user-icon .sil {
    background-color: rgb(204, 53, 53);
    margin-right: 15px;
    margin-left: 15px;
}

.icon-tooltip {
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
}

.user-tooltip .users {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(73, 73, 73);
}

.menu-end {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(73, 73, 73);
    padding-bottom: 10px;
}

.sign-out {
    margin-left: 60px;
    margin-top: 15px;
}

.user-tooltip p {
    cursor: pointer;
}

.user-icon:hover .user-tooltip {
    display: list-item;
}

.user-tooltip p:hover {
    text-decoration: underline;
}


@media screen and (max-width:900px) {
    .menu-section {
        display: none;
    }

    select {
        display: inline-block;
    }


}